.i-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: -99px 0 0;
  height: 500px;
  background-image: url('../utils/assets/backgrounds/bananatree.jpeg');
  background-size: cover;
}

.i-title {
  margin: 99px 0 0;
  padding: 0;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #fff;
  font-weight: normal;
}

.i-break {
  width: 10%;
  border-bottom: 3px solid rgba(234, 202, 187);
  height: 30px;
}

.i-tagline {
  letter-spacing: 4px;
  color: #fff;
  font-weight: normal;
}

@media only screen and (max-width: 650px) {

  .i-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
    padding: 0 5%;
    margin: -60px 0 0;
    height: 300px;
  }

  .i-title {
    font-size: 2rem;
    letter-spacing: 10px;
    margin: 0;
  }

  .i-tagline {
    font-weight: normal;
    font-size: 1rem;
  }
}