.h-container {
  margin: 0 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-nav-btns-container {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.h-main-icon {
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.h-main-icon:hover {
  margin-top: 10px;
  height: 80px;
  width: 80px;
}


@media only screen and (max-width: 650px) {

  .h-container {
    margin: 5px 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .h-nav-btns-container {
    padding: 0 0 0 0;
  }

  .h-main-icon {
    margin: 0;
    height: 40px;
    width: 40px;
  }

  .h-main-icon:hover {
    margin-top: 10px;
    height: 80px;
    width: 80px;
  }
}