.h-container {
  margin: 0 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-tagline {
  padding: 0 0 0 3%;
}

.h-nav-btns-container {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: flex-end;
}

.h-nav-btn {
  margin: 0 0 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding-bottom: 20px;
  border-bottom: 3px solid transparent;
  color: #fff;
}

.h-nav-btn:hover {
  border-bottom: 3px solid rgba(234, 202, 187);
  cursor: pointer;
}

.h-main-icon {
  margin-top: 10px;
  height: 80px;
  width: 80px;
}

.h-main-icon:hover {
  margin-top: 10px;
  height: 80px;
  width: 80px;
}