.p-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.p-project-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p-title {
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 2%;
  letter-spacing: 7px;
}

.p-images {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-project-img {
  width: 40%;
  margin: 0 auto;
}

.p-text {
  text-align: center;
  margin: 2% 5%;
}

.p-tech-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.p-tech-icon {
  height: 30px;
  margin: 10px;
}

.p-btns {
  display: flex;
  justify-content: center;
  width: 60%;
}

.p-btn {
  background: rgba(222, 172, 148, .7);
  color: #FFF;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  transition: .5s;
  width: 30%;
  padding:.7%;
}

.p-btn:hover {
  background: rgba(222, 172, 148);
}

@media only screen and (max-width: 650px) {
  .p-title {
    font-size: 1rem;
  }
  .p-project-img {
    width: 90%;
  }

.p-tech-icon {
  height: 20px;
  margin: 5px;
}
}