.p-container {
  padding: 80px 20%;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.p-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.p-contents {
  display: flex;
}

.p-project-img {
  width: 80%;
}

.p-tech-icon {
  height: 30px;
  padding-right: 20px;
}

.p-link-btn {
  width: 30px;
}