#about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 15%;
  border-top: 15px solid rgba(234, 202, 187);
}

.am-content-container {
  display: flex;
  align-items: center;
  padding-bottom: 150px;
}

.am-text {
  text-align: left;
  padding: 10px 0;
  margin: 0;
}

.am-me-icon {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin-right: 75px;
}

.am-break {
  width: 400px;
  border-bottom: 1px solid rgba(234, 202, 187, .8);
}