#about-me {
  border-top: 15px solid rgba(234, 202, 187);
  display: flex;
  align-items: center;
  padding: 100px 15%;
  justify-content: flex-end;
}

.am-text-container {
  width: 60%;
  text-align: right;
  margin-right: 100px;
}

.am-me-icon {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  background-image: url('../utils/assets/pic.jpg');
  background-size: cover;
}

@media only screen and (max-width: 650px) {
  #about-me {
    border-top: 10px solid rgba(234, 202, 187);
    padding: 0px 5% 20px;
  }

  .am-text-container {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }

  .am-title {
    font-size: 1.2rem;
  }

  .am-me-icon {
    display: none;
  }
}