.pp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.pp-projects-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  width: 100%;
}

.pp-project-container {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.pp-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
}

.pp-icon {
  width: 4%;
  margin: 5%;
}

.pp-icon:hover {
  cursor: pointer;
}

