.pp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pp-projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 15% 200px;
  align-items: center;
  justify-content: center;
}

.pp-project-container {
  height: 300px;
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1%;
}

.pp-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;
}

.pp-pantone {
    background: 
    linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)),
    url(../utils/assets/pantone-landing.png);
  background-size: cover;
  width: 92%;
}

.pp-pantone:hover {
  background-image: url(../utils/assets/pantone-landing.png);
  cursor: pointer;
}

.pp-nordstrom-notes {
    background: 
    linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)),
    url(../utils/assets/nordstrom-notes-landing.png);
  background-size: cover;
}

.pp-nordstrom-notes:hover {
  background-image: url(../utils/assets/nordstrom-notes-landing.png);
  cursor: pointer;
}

.pp-jetpack {
    background: 
    linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)),
    url(../utils/assets/jetpack-landing.png);
  background-size: cover;
}

.pp-jetpack:hover {
  background-image: url(../utils/assets/jetpack-landing.png);
  cursor: pointer;
}

.pp-mentor {
    background: 
    linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)),
    url(../utils/assets/mentor-landing.png);
  background-size: cover;
  background-position: -200px
}

.pp-mentor:hover {
  background-image: url(../utils/assets/mentor-landing.png);
  cursor: pointer;
}

.pp-harvard {
    background: 
    linear-gradient(
      rgba(0, 0, 0, .3),
      rgba(0, 0, 0, .3)),
    url(../utils/assets/harvard-landing.png);
}

.pp-harvard:hover {
  background-image: url(../utils/assets/harvard-landing.png);
  cursor: pointer;
}